<form data-target="/balance/deposit/<%= data.id %>" id="deposit-form" onsubmit="return false;">
    <label class="my-label mb-2" for="amount">Jumlah Simpan</label>
    <input type="hidden" value="<%= data.amount %>" name="balance">
    <div class="mb-3 my-input">
        <input type="text" class="my-form numeric comma" name="amount_deposit" autocomplete="off" required/>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" id="deposit" type="submit">Simpan</button>
    </div>
</form>
