<form data-target="/balance/deposit/<%= data.id %>" id="deposit-form" onsubmit="return false;">
    <label class="my-label mb-2" for="amount">Jumlah Simpan</label>
    <input type="hidden" value="<%= data.amount %>" name="balance">
    <div class="mb-3 my-input">
        <input type="text" class="my-form numeric comma" name="amount_deposit" autocomplete="off" required/>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" id="deposit" type="submit">Simpan</button>
    </div>
</form>
<script>
    $(document).on("submit", "#deposit-form", function () {
        $.ajax({
            url: $(this).data("target"),
            type: "POST",
            data: {
                balance : $("input[name=balance]").val(),
                amount : $("input[name=amount_deposit]").val(), 
            },
            dataType: "json",
            beforeSend: function () {
                $("button").attr("disabled", true); 
            },
            success: function (response) {
                $("button").attr("disabled", false);
                if (response.status_code == 500) return toastAlert("error", response.message);
                if (response.status_code == 400) return toastAlert("error", response.message);

                toastAlert("success", response.message);
                $("#deposit-form").trigger("reset");
                formModal.hide();
                balanceBox()
            },
            error: function (reject) {
                $("button").attr("disabled", false);
                toastAlert("error", "Terjadi kesalahan pada server");
                formModal.hide();
                balanceBox()
            }
        })
    })
</script>