<form action="">
    <label class="form-label pt-0" for="amount">Jumlah</label>
    <div class="mb-3 my-input">
        <input class="my-form numeric" id="comma" name="amount" required max="<%= amount %>" />
    </div>

    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" type="submit">Ambil</button>
    </div>

</form>