<style>
    .nav-link{
        font-family: montserrat-bold;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #095384 !important;
        font-size: 12px;
    }
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
        font-weight: 400 !important;
        color: #095384 !important;
        border-color: #095384 !important;
        border: solid 1px;
        background-color: transparent !important;
    }
</style>
<ul class="nav nav-pills nav-fill mb-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button href="#!" class="nav-link active" id="step-1-tab" data-bs-toggle="tab" data-bs-target="#step-1" type="button" role="tab" aria-controls="step-1" aria-selected="true">Ambil Uang</button>
    </li>
    <li class="nav-item" role="presentation">
        <button href="#!" class="nav-link" id="step-2-tab" data-bs-toggle="tab" data-bs-target="#step-2" type="button" role="tab" aria-controls="step-2" aria-selected="false">Simpan Uang</button>
    </li>
</ul>
<div class="tab-content" id="myTabContent">                        
    <div class="tab-pane fade show active" id="step-1" role="tabpanel" aria-labelledby="step-1-tab">
        <%- include('withdraw'); %>
    </div>
    <div class="tab-pane fade" id="step-2" role="tabpanel" aria-labelledby="step-2-tab">
        <%- include('deposit'); %>
    </div>
</div>
