<form data-target="/balance/withdraw/<%= data.id %>" id="withdraw-form" onsubmit="return false;">
    <label class="my-label mb-2" for="amount">Jumlah Ambil</label>
    <input type="hidden" value="<%= data.amount %>" id="balance" name="balance">
    <div class="mb-3 my-input">
        <input type="text" class="my-form numeric comma" id="amount-withdraw" name="amount_withdraw" autocomplete="off" required/>
    </div>
    <div class="d-flex flex-row-reverse mt-3">
        <button class="btn color-primary" id="withdraw" type="submit" disabled>Ambil</button>
    </div>
</form>
