<div class="modal" tabindex="-1" data-form-modal>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-modal-body></div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/currency.js"></script>
<script src="/js/dropify.js"></script>
<script>
    $(document).ready(function() {
        moment.locale('id')
        balanceBox()
    })
    
    $(document).on("input", ".numeric", function() {
        this.value = this.value.replace(/\D/g,'');
    });

    $(document).on("input", ".comma", function() {
        this.value = addCommas(this.value)
    });

    function truncateString(yourString, maxLength) {
        const index = yourString.indexOf(" ", maxLength);
        return index === -1 ? yourString : yourString.substring(0, index)
    }

    var formModal;
    document.querySelector("[data-form-modal]").addEventListener("hidden.bs.modal", function () {
        document.querySelector("[data-modal-title]").innerText = "";
        document.querySelector("[data-modal-body]").innerHTML = "";
    });

    function openForm(url, type = "create") {
        var title = {
            create: "Tambah Data",
            balance : "Saldo Kantin",
            item  : "item"
        };
        var modalTitle = title[type] ? title[type] : "";

        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $("[data-modal-title]").text(modalTitle);
                $("[data-modal-body]").html(response);
                if(title[type] == 'item') {
                    $(".modal-header").css('display', 'none')
                }else{
                    $(".modal-header").css('display','flex')
                }
                formModal = new bootstrap.Modal(document.querySelector("[data-form-modal]"), {});
                formModal.show();
                var drEvent = $('.dropify').dropify()
            },
            error: function (reject) {
                toastAlert("error", "Terjadi kesalahan pada server");
                console.log(reject)
            }
        })
    }

    function balanceBox(){
        $.ajax({
            type: 'get',
            url: '/balance/getBalance',
            success: function (response) {
                if (response.status_code == 200) {
                    var balance = response.data;
                    $('#balance-box').html(`<button onclick="openForm('/balance/`+balance.id+`', 'balance')" 
                        class="btn-auth outline-primary">Saldo Box : Rp `+addCommas((balance.amount))+`
                    </button>`);
                }
            },
            error: function () {
                $('#balance-box')
            }
        });
    }

    function addToCart(item_id){
        var item_id = item_id
        $.ajax({
            url : '/cart/addToCart',
            type : 'post',
            data : {"item_id" : item_id},
            dataType : 'json',
            beforeSend : function (){
                $('button').attr('disabled', true);
            },
            success: function(response){
                if(response.status_code == 200){
                    toastAlert("success", response.message);
                    $('button').attr('disabled', false);
                }else{
                    toastAlert("error", response.message);
                    $('button').attr('disabled', false);
                }
            },
            error: function(){
                $('button').attr('disabled', false);
                toastAlert("error", "Terjadi kesalahan pada server");
            }
        })
    }


    $(document).on("change","#filter", function(){
        var filter = $(this).val();
            $.ajax({
                type: 'get',
                url: 'itemFilter?filter='+filter,
                success: function (response) {
                    if (response.status_code == 200) {
                        var kantinList = response.data;
                        let kantinLi = '';
                        if(kantinList.length > 0 ){
                            kantinList.forEach(items => $('#kantin').html(kantinLi += `<div class="col-md-4">
                                <div class="costum-card-list">
                                    <a onclick="openForm('/item/detail/`+items.id+`','item')" ><img class="costum-card-img" src="${items.image}"></a>
                                    <div class="card-body">
                                        <span>${items.name}</span>
                                        <div class="info">
                                            <span class="datetime">${moment((items.created_at)).format('MMMM Do YYYY, HH:mm')}</span>
                                        </div>
                                        <div class="mb-3">
                                            <span class="price">Rp `+addCommas((items.price))+`</span>
                                        </div>
                                        <% if(loggedIn) { %>
                                            <button onClick="addToCart('`+items.id+`')" class="btn-auth outline-primary btn-add-to-cart">+ Keranjang</button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>`));
                        }else{
                            $('#kantin').html(`<div class="col-md-12 text-center">
                                <span>Tidak ada item</span>
                            </div>`);                        
                        }
                        toastAlert("success", response.message);
                    }
                },
                error: function () {
                    $('#kantin').html(`<div class="col-md-12 text-center">
                            <span>Tidak ada item</span>
                    </div>`);                        
                }
            });
    });

    $('.search_item').keypress(function (e) {   
        if (e.which == 13) {
            e.preventDefault();
            console.log($(this).val())
            $.ajax({
                url: "/item?search_item="+$(this).val(),
                type: "get",
                success: function (response) {
                    if (response.status_code == 200) {
                        var kantinList = response.data;
                        let kantinLi = '';
                        if(kantinList.length > 0 ){
                            kantinList.forEach(items => $('#kantin').html(kantinLi += `<div class="col-md-4">
                                <div class="costum-card-list">
                                    <a onclick="openForm('/item/detail/`+items.id+`','item')" ><img class="costum-card-img" src="${items.image}"></a>
                                    <div class="card-body">
                                        <span>${items.name}</span>
                                        <div class="info">
                                            <span class="datetime">${moment((items.created_at)).format('MMMM Do YYYY, HH:mm')}</span>
                                        </div>
                                        <div class="mb-3">
                                            <span class="price">Rp `+addCommas((items.price))+`</span>
                                        </div>
                                        <% if(loggedIn) { %>
                                            <button onClick="addToCart('`+items.id+`')" class="btn-auth outline-primary btn-add-to-cart">+ Keranjang</button>
                                        <% } %>
                                    </div>
                                </div>
                            </div>`));
                        }else{
                            $('#kantin').html(`<div class="col-md-12 text-center">
                                <span>Tidak ada item</span>
                            </div>`);                        
                        }
                        toastAlert("success", response.message);
                    }
                },
                error: function () {
                    $('#kantin').html(`<div class="col-md-12 text-center">
                            <span>Tidak ada item</span>
                    </div>`);                        
                }
            })
        }
    })

    // items
    $(document).on("submit", "#create-form", function (e) {
        var drEvent = $('.dropify').dropify();
        e.preventDefault();
        $.ajax({
            url: "item/store",
            type: "POST",
            data: new FormData(this),
            processData: false,
            contentType: false,
            dataType: "json",
            beforeSend: function () {
                $("button").attr("disabled", true);
            },
            success: function (response) {
                $("button").attr("disabled", false);
                if (response.status_code == 500) return toastAlert("error", response.message);
                if (response.status_code == 400) return toastAlert("error", response.message);
                toastAlert("success", response.message);
                $("#create-form").trigger("reset");
                formModal.hide();
                drEvent = drEvent.data('dropify');
                drEvent.resetPreview(); 
                drEvent.clearElement(); 
                items()
            },
            error: function (reject) {
                $("button").attr("disabled", false);
                toastAlert("error", "Terjadi kesalahan pada server");
                formModal.hide();
                drEvent = drEvent.data('dropify');
                drEvent.resetPreview(); 
                drEvent.clearElement(); 
                items()
            }
        })
    })

    $(document).on("submit", "#buy-form", function (e) {
        e.preventDefault();
        $.ajax({
            url: $(this).data("target"),
            type: "POST",
            data: {
                balanceId: $("input[name=balanceId]").val(),
                balance: $("input[name=balance]").val(),
                item_price: $("input[name=item_price]").val(),
                image: $("input[name=image]").val(),
            },
            dataType: "json",
            beforeSend: function () {
                $("button").attr("disabled", true); 
            },
            success: function (response) {
                $("button").attr("disabled", false);
                if (response.status_code == 500) return toastAlert("error", response.message);
                if (response.status_code == 400) return toastAlert("error", response.message);

                toastAlert("success", response.message);
                $("#withdraw-form").trigger("reset");
                formModal.hide();
                balanceBox()
                items()
            },
            error: function (reject) {
                $("button").attr("disabled", false);
                toastAlert("error", "Terjadi kesalahan pada server");
                formModal.hide();
                balanceBox()                
                items()
            }
        })
    })

    // balance
    $(document).on("submit", "#withdraw-form", function () {
        $.ajax({
            url: $(this).data("target"),
            type: "POST",
            data: {
                balance : $("input[name=balance]").val(),
                amount : $("input[name=amount_withdraw]").val().replaceAll('.',''),
            },
            dataType: "json",
            beforeSend: function () {
                $("button").attr("disabled", true); 
            },
            success: function (response) {
                $("button").attr("disabled", false);
                if (response.status_code == 500) return toastAlert("error", response.message);
                if (response.status_code == 400) return toastAlert("error", response.message);

                toastAlert("success", response.message);
                $("#withdraw-form").trigger("reset");
                formModal.hide();
                balanceBox()
            },
            error: function (reject) {
                $("button").attr("disabled", false);
                toastAlert("error", "Terjadi kesalahan pada server");
                formModal.hide();
                balanceBox()
            }
        })
    })

    $(document).on("submit", "#deposit-form", function () {
        $.ajax({
            url: $(this).data("target"),
            type: "POST",
            data: {
                balance : $("input[name=balance]").val(),
                amount : $("input[name=amount_deposit]").val().replaceAll('.',''), 
            },
            dataType: "json",
            beforeSend: function () {
                $("button").attr("disabled", true); 
            },
            success: function (response) {
                $("button").attr("disabled", false);
                if (response.status_code == 500) return toastAlert("error", response.message);
                if (response.status_code == 400) return toastAlert("error", response.message);

                toastAlert("success", response.message);
                $("#deposit-form").trigger("reset");
                formModal.hide();
                balanceBox()
            },
            error: function (reject) {
                $("button").attr("disabled", false);
                toastAlert("error", "Terjadi kesalahan pada server");
                formModal.hide();
                balanceBox()
            }
        })
    })

    $(document).on("input", "#amount-withdraw", function() {
        var value = parseInt($(this).val().replaceAll('.', ''));
        var balance = parseInt($("#balance").val());
        if(value > balance) {
            $("#withdraw").attr("disabled", true);
            $(this).val('')
        }else{
            $("#withdraw").attr("disabled", false);
        }
    });

</script>
</body>
</html>
