<div class="modal" tabindex="-1" data-form-modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" data-modal-title></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-modal-body></div>
        </div>
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sweetalert2.all.min.js"></script>
<script src="/js/alert.js"></script>
<script src="/js/currency.js"></script>
<script src="/js/moment.js"></script>
<script>

    function truncateString(yourString, maxLength) {
        const index = yourString.indexOf(" ", maxLength);
        return index === -1 ? yourString : yourString.substring(0, index)
    }

    var formModal;

    document.querySelector("[data-form-modal]").addEventListener("hidden.bs.modal", function () {
        document.querySelector("[data-modal-title]").innerText = "";
        document.querySelector("[data-modal-body]").innerHTML = "";
    });

    function openForm(url, type = "create") {
        var title = {
            create: "Tambah Data",
            balance : "Saldo Kantin",
            item  : "item"
        };

        var modalTitle = title[type] ? title[type] : "";

        $.ajax({
            url: url,
            type: "GET",
            success: function (res) {
                $("[data-modal-title]").text(modalTitle);
                $("[data-modal-body]").html(res);
                if(title[type] == 'item') {
                    $(".modal-header").css('display', 'none')
                }
                formModal = new bootstrap.Modal(document.querySelector("[data-form-modal]"), {});
                formModal.show();
            },
            error: function (reject) {
                toastAlert("error", "An error occurred on the server");
                console.log(reject)
            }
        })
    }

    function logout() {
        $.ajax({
            url: "/logout",
            type: "GET",
            beforeSend: function () {
                toastAlert("info", "Mencoba Keluar");
            },
            success: function () {
               
            },
            error: function (reject) {
                console.log(reject);
            }
        })
    }

    function items() {
        $('.loading').show();
        $('.list').hide();
        $.ajax({
            type: 'get',
            url: 'item',
            success: function (res) {
                $('.list').show();
                $('.loading').hide();
                if (res.status_code == 200) {
                    var kantinList = res.data;
                    let kantinLi = '';
                    if(kantinList.length > 0 ){
                        kantinList.forEach(items => $('#kantin').html(kantinLi += `<div class="col-md-4">
                            <div class="costum-card-list">
                                <a onclick="openForm('/item/detail/`+items.id+`','item')" ><img class="costum-card-img" src="/uploads/${items.image}"></a>
                                <div class="card-body">
                                    <span>${items.name}</span>
                                    <div class="info">
                                        <span class="datetime">${truncateString(moment((items.created_at)).format('LLL'),15)}</span>
                                    </div>
                                    <div>
                                        <span class="price">Rp `+addCommas((items.price))+`</span>
                                    </div>
                                    <p>${truncateString(items.description,62)}</p>
                                </div>
                            </div>
                        </div>`));
                    }else{
                        $('#kantin').html(`<div class="col-md-12 text-center">
                            <span>Tidak ada item</span>
                        </div>`);                        
                    }
                }
            },
            error: function () {
                $('.list').show();
                $('#kantin')
                $('.loading').hide();
            }
        });
    }
    items()

    function balanceBox(){
        $.ajax({
            type: 'get',
            url: '/balance/getBalance',
            success: function (res) {
                if (res.status_code == 200) {
                    var balance = res.data;
                    $('#balance-box').html(`<button onclick="openForm('/balance/`+balance.id+`', 'balance')" 
                        class="btn-auth outline-primary">Saldo Box : Rp `+addCommas((balance.amount))+`
                    </button>`);
                }
            },
            error: function () {
                $('#balance-box')
            }
        });
    }
    balanceBox()


    
    $(document).on("input", ".numeric", function() {
        this.value = this.value.replace(/\D/g,'');
    });

    $(document).on("input", ".comma", function() {
        this.value = addCommas(this.value)
    });

</script>
</body>

</html>