<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/sweetalert2.css">
    <link rel="icon" href="/img/icon.png">
    <title><%= title %></title>
    <style>
        body {
            font-family: 'Open Sauce One', sans-serif;
        }
        button:disabled,
        button[disabled]{
            background-color: var(--N75,#E5E7E9) !important;
            color: var(--N400,#6C727C);
            cursor: not-allowed;
            display: block;
        }
    </style>
</head>

<body>
    <div class="container">
        <header class="auth-header mb-5">
            <a href="/">
                <img src="/img/logo.png" alt="">
            </a>
        </header>
        <div class="row justify-content-center">
            <div class="d-flex justify-content-center">
                <div class="auth-card"
                    style="padding:20px;box-shadow: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));">
                    <h1 class="auth-title">Daftar Akun</h1>
                    <div class="auth-desc">
                        <span class="auth-desc">Sudah punya akun ? <a href="/login" class="text-main ">Masuk</a> </span>
                    </div>
                    <form onsubmit="return false;" data-form>
                        <div class="mb-2">
                            <label class="my-label">ID Siswa</label>
                            <div class="input-group my-input" id="inputStudentId">
                                <input type="text" class="my-form numeric" id="student_id" name="student_id"
                                    maxlength="5" minlength="5" required autocomplete="off">
                            </div>
                            <div class="invalid-text">
                                <p class="valid-label">Contoh : 1+2+3 = 06 ( ID : 12306 )</p>
                                <p class="invalid-label"></p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="my-label">Nama</label>
                            <div class="input-group my-input">
                                <input type="text" class="my-form" name="name" required autocomplete="off">
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-start">
                                <div class="flex-grow-1">
                                    <label class="my-label">Password</label>
                                </div>
                            </div>
                            <div class="input-group my-input">
                                <input type="password" class="my-form" name="password" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="auth-button" type="submit" disabled>Daftar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/sweetalert2.all.min.js"></script>
    <script src="/js/alert.js"></script>
    <script>
        $('#student_id').on('keyup', function () {
            value = $('#student_id').val().slice(0,3).split('');
            sum = value.reduce((pv, cv) => {
                return pv + (parseFloat(cv) || 0);
            }, 0);
            result = ('0' + sum).slice(-2)
            lastValue = $('#student_id').val().slice(3,5)

            $('.invalid-label').show()
            if ($('#student_id').val().length == 0 ){
                $('.valid-label').hide()
                $('.invalid-label').text('ID Siswa tidak boleh kosong');
            }else{
                if(lastValue != result){
                    $('#inputStudentId').addClass('is-invalid')
                    $('#inputStudentId').removeClass('is-valid')
                    $('.valid-label').hide()
                    $('.invalid-label').text('ID Siswa tidak sesuai')
                    $('button').attr('disabled',true)
                }else{
                    $('#inputStudentId').removeClass('is-invalid')
                    $('#inputStudentId').addClass('is-valid')
                    $('.valid-label').show()
                    $('.invalid-label').hide()
                    $('button').attr('disabled',false)
                }
            }
        });

        $('form').on('submit', function () {
            $.ajax({
                url: '/register',
                type: 'POST',
                data: {
                    student_id: $("input[name=student_id]").val(),
                    name: $("input[name=name]").val(),
                    password: $("input[name=password]").val()
                },
                dataType: "json",
                beforeSend: function () {
                    $("form").attr("disabled", true);
                    $("button").attr("disabled", true);
                },
                success: function (res) {
                    $("form").attr("disabled", false);
                    $("button").attr("disabled", false);
                    if (res.status_code == 200) {
                        toastAlert("success", res.message);
                        setTimeout(function () {
                            window.location.replace("/login");
                        }, 1000);
                    } else {
                        toastAlert("error", res.message);
                    }
                    $('form').trigger("reset");
                },
                error: function (reject) {
                    $("form").attr("disabled", false);
                    $("button").attr("disabled", false);
                    toastAlert("error", "Terjadi kesalahan pada server");
                }
            })
        })

        $(document).on("input", ".numeric", function () {
            this.value = this.value.replace(/\D/g, '');
        });
    </script>
</body>
</html>